{% extends 'base.html' %}

{% block content %}

<div class="columns is-multiline">
    <div class="column is-12">
        <h1 class="title">Todos</h1>
    </div>

    <hr>

    <div class="column is-12">
        <form method="post">
            {% csrf_token %}
    
            {{ form.as_p }}
    
            <div class="field">
                <div class="control">
                    <button class="button is-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div class="column is-12">
        {% for todo in todos %}
            <p>{{ todo.title }} (Is done: {{ todo.is_done }}) <a href="{% url 'todo' todo.id %}">View details</a></p>
        {% empty %}
            <p>You don't have any todos yet...</p>
        {% endfor %}
    </div>
</div>

{% endblock %}